body {
    background-color: #F8F8FF;
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
}

.menu {
    display: flex;
    justify-content: flex-start;
    width: fit-content;
    padding-right: 40px;
    border: 1px solid #d7d7fc;
}

.header-h1 {
    padding-left: 40px;
    margin-bottom: 0px;
    font-size: 25px;
    font-weight: 700;
    background-image: linear-gradient(to left, #553c9a, #acacff);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.footer {
    margin-top: auto;
    padding: 20px;
    background-color: #242836;
    text-align: center;
}

.footer p {
    color: #F8F8FF;
}

.page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    align-self: center;
    margin-top: 40px;
    margin-bottom: 60px;
}

.background-wrap {
    /*background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);*/
    background-color: #e6e6fa;
    padding: 30px 50px 50px;
    border-radius: 8px;
}

h1, p, span, label {
    color: #242836;
}

.link-input {
    width: 410px;
    height: 37px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #DBDBDB;
    font-size: 14px;
}

.link-input[type="text"] {
    padding: 3px 8px;
}

.file-input {
    opacity: 0;
    position: absolute;
    z-index: -1;
    margin-bottom: 10px;
}

.file-label {
    cursor: pointer;
    margin-bottom: 10px;
    padding: 18px;
    border: 4px dotted #a4a2f6;
}

.label-div {
    margin-bottom: 25px;
    margin-top: 50px;
}

.send-btn {
    flex-direction: row;
    justify-content: flex-end;
    cursor: pointer;
    background-color: #242836;
    color: #F8F8FF;
    padding: 13px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
}

.btn-wrap {
    align-self: flex-end;
}

.textarea-user-text {
    resize: none;
    padding: 13px 8px;
    border-radius: 8px;
    border: 1px solid #DBDBDB;
    font-size: 14px;
    font-family: Roboto, Arial, sans-serif
}

.translit-textarea {
    display: flex;
    flex-direction: column;
}

.area2 {
    margin-top: 10px;
    font-size: 16px;
}

.counters {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px 0 0;
}

.zero {
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.range-inpt {
    width: 50%;
}

.pass-result-inpt {
    width: 100%;
    height: 45px;
    border-radius: 8px;
    border: 1px solid #DBDBDB;
    font-size: 18px;
    text-align: center;
    color: #242836;
    font-weight: bold;
}

.range-settings {
    display: flex;
    justify-content: space-between;
}

.number-inpt {
    border-radius: 8px;
    border: 1px solid #DBDBDB;
    height: 20px;
    font-size: 14px;
    padding-left: 15px;
}

.loader {
    --b: 15px; /* border thickness */
    --n: 8; /* number of dashes*/
    --g: 10deg; /* gap  between dashes*/
    --c: #9c9cff; /* the color */

    width: 120px; /* size */
    margin: 50px auto;
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 1px; /* get rid of bad outlines */
    background: conic-gradient(#0000, var(--c)) content-box;
    --_m: /* we use +/-1deg between colors to avoid jagged edges */ repeating-conic-gradient(#0000 0deg,
    #000 1deg calc(360deg / var(--n) - var(--g) - 1deg),
    #0000 calc(360deg / var(--n) - var(--g)) calc(360deg / var(--n))),
    radial-gradient(farthest-side, #0000 calc(98% - var(--b)), #000 calc(100% - var(--b)));
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
    animation: load 1s infinite steps(var(--n));
}

@keyframes load {
    to {
        transform: rotate(1turn)
    }
}