body {
    background-color: #F8F8FF;
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
}

.menu {
    display: flex;
    justify-content: flex-start;
    width: fit-content;
    padding-right: 40px;
    border: 1px solid #d7d7fc;
}

.footer {
    margin-top: auto;
    padding: 20px;
    background-color: #242836;
    text-align: center;
}

.footer p {
    color: #F8F8FF;
}

.page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    align-self: center;
    margin-top: 70px;
}

.background-wrap {
    /*background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);*/
    background-color: #E6E6FA;
    padding: 50px;
    border-radius: 8px;
}

h1, p, span, label {
    color: #242836;
}

.link-input {
    width: 410px;
    height: 37px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #DBDBDB;
    font-size: 14px;
}

.link-input[type="text"] {
    padding: 3px 8px;
}

.send-btn {
    flex-direction: row;
    justify-content: flex-end;
    cursor: pointer;
    background-color: #242836;
    color: #F8F8FF;
    padding: 13px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
}

.btn-wrap {
    align-self: flex-end;
}

.textarea-user-text {
    resize: none;
    padding: 13px 8px;
    border-radius: 8px;
    border: 1px solid #DBDBDB;
    font-size: 14px;
    font-family: Roboto, Arial, sans-serif
}

.counters {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px 0 0;
}

.zero {
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.range-inpt {
    width: 50%;
}

.pass-result-inpt {
    width: 100%;
    height: 45px;
    border-radius: 8px;
    border: 1px solid #DBDBDB;
    font-size: 18px;
    text-align: center;
    color: #242836;
    font-weight: bold;
}

.range-settings {
    display: flex;
    justify-content: space-between;
}

.number-inpt {
    border-radius: 8px;
    border: 1px solid #DBDBDB;
    height: 20px;
    font-size: 14px;
    padding-left: 15px;
}