body {
    background-color: #F8F8FF;
    font-family: Roboto, Arial;
}

.menu {
    display: flex;
    justify-content: flex-start;
    width: fit-content;
    padding-right: 40px;
    border: 1px solid #d7d7fc;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    flex-direction: column;
}

.background-wrap {
    /*background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);*/
    height: fit-content;
    width: fit-content;
    background-color: #E6E6FA;
    padding: 50px;
    border-radius: 8px;
    flex-shrink: 0;
}

h1, p {
    color: #242836;
}

.link-input {
    width: 410px;
    height: 37px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #DBDBDB;
    font-size: 14px;
}

.link-input[type="text"] {
    padding: 3px 8px;
}

.send-btn {
    flex-direction: row;
    justify-content: flex-end;
    cursor: pointer;
    background-color: #242836;
    color: #F8F8FF;
    padding: 13px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
}

.btn-wrap {
    align-self: flex-end;
}

.textarea-user-text {
    resize: none;
    padding: 13px 8px;
    border-radius: 8px;
    border: 1px solid #DBDBDB;
    font-size: 14px;
}

.counters {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px 0px 0px;
}

.zero {
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold;
}