<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Инструменты для работы в интернете</title>
    <meta name="description" content="Инструменты для Web">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<div class="page">
    {% include 'header.html' %}
    {% include 'menu.html' %}
    <div class="content">
        <div class="background-wrap">
            <h1>Инструменты для Web</h1>
            <p>Инструменты для SEO и работы с сайтами, которые сэкономят ваше время</p>

        </div>
    </div>
    {% include 'footer.html' %}
</div>
</body>
</html>