<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Скачать видео с YouTube по ссылке</title>
    <meta name="description" content="Быстро скачать видео с YouTube. Получить видео в высоком качестве">
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/script-home.js" type="text/javascript"></script>
</head>
<body>
<div class="page">
    {% include 'header.html' %}
    {% include 'menu.html' %}
    <div class="content">
        <div class="background-wrap">
            <h1>Скачать видео с YouTube</h1>
            <p>Вставьте ссылку на нужное видео в поле ниже</p>
            <form class="form-to-send" action="" method="post">
                <input class="link-input" type="text" name="link" placeholder="Ссылка" required>
                <br>
                <input class="send-btn" type="submit" value="Отправить">
            </form>
        </div>
    </div>
    {% include 'footer.html' %}
</div>
</body>
</html>