<menu>
    <div class="menu">
        <ul><a href="/compress">Сжатие картинок</a></ul>
        <ul><a href="/s">Сокращение ссылок</a></ul>
        <ul><a href="/translit">Транслитерация</a></ul>
        <ul><a href="/text">Подсчет символов</a></ul>
        <ul><a href="/password-generator">Генератор паролей</a></ul>
        <ul><a href="/whois">Информация о домене</a></ul>
        <ul><a href="/youtube">Скачать видео с YouTube</a></ul>
<!--        <ul><a href="/speedtest">Проверка скорости интернета</a></ul>-->
    </div>
</menu>