<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Генератор паролей онлайн. Сгенерировать случайный сложный пароль</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
    <script src="{{ url_for('static', path='/script-password.js') }}" type="text/javascript"></script>
</head>
<body>
<div class="page">
    {% include 'header.html' %}
    {% include 'menu.html' %}
    <div class="content">
        <div class="background-wrap">
            <h1>Генератор паролей</h1>
            <p>Укажите необходимые параметры для создания пароля</p>
            <form class="form-to-send" action="" method="get">
                <div class="pass-results">
                    <input class="pass-result-inpt" type="text" disabled value="Сгенерированный пароль">
                </div>
                <br>
                <div class="range-settings">
                    <span>Длина пароля</span>
                    <input class="range-inpt password-inpt" type="range" min="1" max="25" value="8">
                    <input class="number-inpt password-inpt" type="number" min="1" max="25" value="8">
                </div>
                <br>
                <div class="capital">
                    <label>
                        <input class="capital-letters-chk password-inpt" type="checkbox" checked>
                        Прописные буквы
                    </label>
                </div>
                <br>
                <div class="lower">
                    <label>
                        <input class="lower-letters-chk password-inpt" type="checkbox" checked>
                        Строчные буквы
                    </label>
                </div>
                <br>
                <div class="numbers">
                    <label>
                        <input class="numbers-chk password-inpt" type="checkbox" checked>
                        Цифры
                    </label>
                </div>
                <br>
                <div class="special-symbols">
                    <label>
                        <input class="special-symbols-chk password-inpt" type="checkbox">
                        Специальные символы: %, *, ),?, @, #, $, ~
                    </label>
                </div>
                <br>
                <input class="send-btn password-inpt" type="submit" value="Создать">
            </form>
        </div>
    </div>
    {% include 'footer.html' %}
</div>
</body>
</html>