<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ваша сокращенная ссылка готова</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<div class="page">
    {% include 'header.html' %}
    {% include 'menu.html' %}
    <div class="content">
        <h1>Поздравляем, ваша ссылка готова!</h1>
        <p>
            Старая ссылка — {{ link }}
            <br>
            Сокращенная ссылка — <a href="https://188.225.47.47/s/{{ short_link }}" target="_blank">188.225.47.47/s/{{
            short_link }}</a>
        </p>
    </div>
    {% include 'footer.html' %}
</div>
</body>
</html>