<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Проверьте скорость вашего соединения</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<div class="content">
    <div class="background-wrap">
        <h1>Замерить скорость вашего интернета</h1>
        <p>Нажмите на кнопку ниже, чтобы измерить вашу скорость. Это может занять некоторое время</p>
        <form action="" method="post">
            <input type="submit" class="send-btn" value="Измерить">
        </form>
    </div>
</div>
</body>
</html>