<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Подсчет количества символов</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/script-text.js" type="text/javascript"></script>
</head>
<body>
<div class="page">
    {% include 'header.html' %}
    {% include 'menu.html' %}
    <div class="content">
        <div class="background-wrap">
            <h1>Подсчет количества символов в тексте</h1>
            <p>Вставьте уже готовый текст в поле ниже или наберите свой</p>
            <form class="form-to-send" action="" method="get">
            <textarea class="textarea-user-text" cols="80" rows="10"
                      placeholder="Введите ваш текст сюда"></textarea>
                <div class="counters">
                    <div class="all-symbols-text">Всего символов
                        <div class="all-symbols zero">0</div>
                    </div>
                    <div class="without-space-text">Символов без пробелов
                        <div class="without-space zero">0</div>
                    </div>
                    <div class="words-text">Слов
                        <div class="words zero">0</div>
                    </div>

                </div>
            </form>
        </div>
    </div>
    {% include 'footer.html' %}
</div>
</body>
</html>