<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ваше видео готово</title>
    <script src="/static/script-download.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<div class="page">
    {% include 'header.html' %}
    {% include 'menu.html' %}
    <div class="content">
        <div class="background-wrap">
            <div class="info">
                <h1>Поздравляем, ваше видео готово</h1>
                <p>Название — «{{ title }}»</p>
                <p>Ваша ссылка — <a href="{{ link }}" target="_blank">{{ link }}</a></p>
                <p>Если загрузка не началась автоматически — нажмите на ссылку ниже</p>
                <a class="dnld-link" href="{{ path }}" download="{{ path }}">Скачать</a>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</div>
</body>
</html>